#nav{
    text-decoration: none;
    padding : 10px 10px;
    font-size: large;
    border : solid white 2px; 
}
#nav:hover{
    color:black;
    border : solid black 2px;
    border-radius: 20px;
}